* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

.dash_alertas {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 600px;
}

.titulo h1 {
    font-size: 25px;
    margin-left: 100px;
}

.filter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter p {
    font-size: 16px;
    font-weight: 500;
}

.filter select {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
    padding: 8px 40px 8px 16px;
}

.todos_componentes {
    border: 3px solid #F7B216;
    border-radius: 15px;
    padding: 30px 40px;
    margin: 40px 90px;
    width: auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

.titulo_todos {
    display: flex;
    align-items: center;
    gap: 500px;
    border-bottom: 3px solid #F7B216;
    padding-bottom: 10px;
    margin-bottom: 15px;
    justify-content: flex-start;
}

.titulo_todos h1 {
    font-size: 25px;
    margin-right: 20px;
}

.titulo_todos img {
    width: 50px;
}

.linha_alerta {
    display: grid;
    grid-template-columns: 80px 1.5fr 1fr 1fr 0.8fr 1fr;
    align-items: center;
    padding: 10px;
}

.names {
    display: grid;
    grid-template-columns: 180px 190px 140px 0fr 0.8fr 1fr;
    align-items: center;
    padding: 10px;
}

.names {
    border-bottom: 3px solid #F7B216;
    font-weight: bold;
    color: #444;
}

.names p {
    font-size: 15px;
    margin-left: 100px;
}

.alerta_critico p {
    color: #FF0000;
    font-weight: bold;
}

.resolvido p {
    color: #848080;
}

.linha_alerta #servidor1,
#servidor2,
#servidor3,
#servidor4,
#servidor5 {
    justify-self: center;
    height: 18px;
    width: 18px;
    margin: 0;
}

.linha_alerta,
#servidor5 {
    accent-color: green;
}

.criticos {
    background-color: #F7B216;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.criticos h1 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.criticos_caixa {
    display: flex;
    gap: 30px;
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    margin-left: 50px;
    margin-right: 90px;
}

.servidor_critico_card {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px 25px;
}

.titulo_critico {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
}

.titulo_critico img {
    width: 70px;
}

.servidor_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servidor_info p {
    font-size: 14px;
}

.alertas_criticos {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.alertas_criticos p {
    font-size: 15px;
    font-weight: bold;
}

.card_info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 15px;
    width: 100%;
}

.alertas,
.inf_hardware {
    flex: 1;
    min-width: 45%;
}

.card_info h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card_box {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
}

.alertas_name {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.alertas_valores {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
}

.alertas_valores p {
    font-size: 25px;
}

.hardware {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.espaco {
    border: 2px solid black;
    border-radius: 20px;
    padding: 8px 15px;
    text-align: center;
}

.espaco p {
    margin: 0;
    font-size: 13px;
}

.filter_lateral {
    width: 250px;
    border-radius: 15px;
    padding: 20px;
    align-self: flex-start;
    box-shadow: 0 0 0 3px #F7B216;
    position: relative;
    overflow: hidden;
}

.filter_lateral h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.check_filtro {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item_filtro {
    display: flex;
    align-items: center;
    gap: 8px;
}

.item_filtro input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: yellow;
    cursor: pointer;
}

.item_filtro p {
    font-size: 15px;
}