@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main_content {
  display: flex;
  align-items: center;
}


.icone {
  display: flex;
  width: 200px;
  height: 200px;
}

.servidor_nome {
  display: flex;
  margin-left: 100px;
  width: 100%;
  height: 100%;
  font: 400 34px 'Poppins', sans-serif;
  font-weight: bold;
}

.container_select {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  font-size: 22px;
  color: #222;
  font-family: sans-serif;
  margin-right: 20px;
  font-weight: bold;
}

.select_personalizar {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #222;
  border-radius: 32px;
  padding: 25px 35px 25px 20px;
  background: #fff;
  height: 38px;
}

.select_personalizar select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  padding: 8px 32px 8px 12px;
  border-radius: 32px;
  font-family: sans-serif;
  color: #222;
  height: 38px;
  cursor: pointer;
  width: 110px;
}

.select_cursor {
  position: absolute;
  right: 16px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #222;
}

.canvas {
  width: 80%;
  height: 40%;
}

.dashboard_informacao {
  width: 600px;
  flex-direction: column;
  margin-left: 65px;
  display: flex;
  font-size: 20px;
}

.dashboard_informacao.rede {
  width: 800px;
}

.Texto {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.Texto2 {
  font-size: 25px;
  font-weight: bold;
}

.Texto3 {
  font-size: 17px;
  font-weight: bold;
  margin-left: 15px;
}

.limite {
  /* margin: 4px;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    width: 250px;
    border-radius: 50px;
    border-color: rgb(242, 183, 48);
    border-style: solid;
    padding: 15px; */
  flex: 1;
}

#limite {
  font-size: 32px;
}

.container_limite {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container_limite.rede {
  display: flex;
  flex: 1;
  justify-content: center;
}

.rede .limite {
  width: 150px;
}

.container_limite.rede h3 {
  text-align: center;
}

.limite_header {
  max-width: 100px;
  font-size: 20px;
  text-align: center;
}

.espaco {
  margin-top: 100px;
}

.limite_medida {
  font-size: 50px;
  font-weight: 600;
  display: block;
  text-align: center;
}

.limite_medida.mid {
  color: darkorange;
}

.limite_medida.hig {
  color: red;
}

.critico {
  color: red;
  font-weight: bold;
}

.padrao {
  color: darkorange;
  font-weight: bold;
}

.header {
  margin-top: 50px;
}

.container_percentages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 20vh;
  gap: 0.5vw;
  box-sizing: border-box;
  margin-left: 10vw;
  margin-top: 100px;
}

.container_percentages div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_percentages h2 {
  margin-bottom: -50px;
}

.container_percentages canvas {
  flex: 1;
  max-width: 16vw;
  aspect-ratio: 1 / 1;
  height: auto !important;
}

.container {
  margin-top: 50px;
}

.info_title {
  margin-top: 20px;
}

.limites_container_wrapper {
  display: flex;
  gap: 20px;
  width: 63vw;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
}

.last {
  padding-bottom: 100px;
}

.limites_container_2 {
  display: flex;
}

.alerta_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin: 35px 0 0 0;
  width: 100%;
}

.sessao_critico {
  display: flex;
  border: 3px solid red;
  border-radius: 16px;
  width: 320px;
  height: 170px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sessao {
  display: flex;
  border: 3px solid rgb(243, 186, 0);
  border-radius: 16px;
  width: 320px;
  height: 170px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alerta_titulo {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}

.alerta_numero {
  font-size: 64px;
  font-weight: 600;
}

.alerta_numero.critico {
  color: red;
}

.alerta_numero.padrao {
  color: rgb(243, 186, 0);
}

.container_componente {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 80px;
  border-radius: 10px;
  border-color: rgb(243, 186, 0);
  border-style: solid;
  width: 100%;
  margin-top: 50px;
}

.alerta_componente {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
}

.numeros {
  display: flex;
  font-size: 30px;
  gap: 20px;
  align-self: center;
}

.cpu {
  display: flex;
  flex-direction: column;
  background-color: #FFF3E0;
  border-radius: 10px;
  padding: 30px;
}

.ram {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  background-color: #FFF3E0;
  border-radius: 10px;
  padding: 30px;
}

.disco {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  background-color: #FFF3E0;
  border-radius: 10px;
  padding: 30px;
}

.upload {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  background-color: #FFF3E0;
  border-radius: 10px;
  padding: 30px;
}

.download {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  background-color: #FFF3E0;
  border-radius: 10px;
  padding: 30px;
  box-shadow: black;
}