* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

.a {
    /* max-width: 1140px; */
    /* margin: 0 auto; */
    padding: 0 28px;
    /* width: 100%; */
    margin-right: 0;
    height: 100%;
    align-items: center;
}

.dash_jira {
    background-color: #f3f2f2;
    padding-bottom: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.titulo_jira {
    padding-top: 50px;
    margin-left: 0;
}

.titulo_jira h1 {
    font-size: 22px;
    margin-left: 0;
}

.titulo_jira h1,
.info,
.servidores_alertas {
    margin-left: 0 !important;
    /* padding-left: 100px; */
}

.alertas_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.info {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    justify-content: flex-start;
}

.kpi_critico,
.kpi_atencao {
    width: 400px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdcdc;
}

.kpi_critico b,
.kpi_atencao b {
    background-color: white;
}

.kpi_critico h1,
.kpi_atencao h1 {
    font-size: 35px;
    background-color: white;
}

.kpi_critico p,
.kpi_atencao p {
    font-size: 15px;
    margin-top: 10px;
    background-color: white;
}

.kpi_atencao span,
.kpi_critico span {
    background-color: white;
}

.servidores_alertas {
    background-color: white;
    border-radius: 20px;
    padding: 25px 35px;
    border: 1px solid #dcdcdc;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 0;
}

.titulo_ser h2 {
    background-color: white;
    font-weight: 600;
}

.titulo_ser {
    margin-bottom: 15px;
    border-bottom: 4px solid #f7b116;
}

.servidor_card {
    background-color: #f4f4f4;
    border-radius: 40px;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    border: 1px solid #dcdcdc;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08);
}

.servidor_card b {
    background-color: #f4f4f4;
}

.info_servidor {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.info_servidor .nome {
    background-color: #f4f4f4;
    font-size: 16px;
    margin: 0;
}

.info_servidor .mac {
    background-color: #f4f4f4;
}

.servidor_card .status {
    background-color: #f4f4f4;
    margin-left: auto;
    font-size: 18px;
}

.servidor_card img {
    background-color: #f4f4f4;
    width: 55px;
}

.chart-card {
    margin: 18px 100px;
    background: white;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
    height: 320px;
    overflow: hidden;
}

.chart-card canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}