* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

.dash_alertas {
    background-color: #FFFFFF;
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 90px 0 0 90px;
    padding-right: 90px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 600px;
}

.titulo h1 {
    font-size: 25px;
}

.filter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter p {
    font-size: 16px;
    font-weight: 500;
}

.filter select {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
    padding: 8px 40px 8px 16px;
}

.todos_componentes {
    border: 3px solid #F7B216;
    border-radius: 15px;
    padding: 30px 40px;
    margin: 40px 90px;
    width: auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

.titulo_todos {
    display: flex;
    align-items: center;
    gap: 500px;
    border-bottom: 3px solid #F7B216;
    padding-bottom: 10px;
    margin-bottom: 15px;
    justify-content: flex-start;
}

.titulo_todos h1 {
    font-size: 25px;
    margin-right: 20px;
}

.titulo_todos img {
    width: 50px;
}

.linha_alerta {
    display: grid;
    grid-template-columns: 80px 1.5fr 1fr 1fr 0.8fr 1fr;
    align-items: center;
    padding: 10px;
}

.names {
    display: grid;
    grid-template-columns: 180px 190px 140px 0fr 0.8fr 1fr;
    align-items: center;
    padding: 10px;
}


.names {
    border-bottom: 3px solid #F7B216;
    font-weight: bold;
    color: #444;
}

.names p {
    font-size: 15px;
    margin-left: 100px;
}

.alerta_critico p {
    color: #FF0000;
    font-weight: bold;
}

.resolvido p {
    color: #848080;
}

.linha_alerta #servidor1,
#servidor2,
#servidor3,
#servidor4,
#servidor5 {
    justify-self: center;
    height: 18px;
    width: 18px;
    margin: 0;
}


.linha_alerta,
#servidor5 {
    accent-color: green;
}