* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    overflow-x: hidden;
}

.dash_jira {
    margin-top: 50px;
}

.titulo_jira h1 {
    font-size: 22px;
    margin-left: 200px;
}

.alertas_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.info {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-left: 250px;
}

.kpi_critico,
.kpi_atencao {
    width: 400px;
    height: 130px;
    background-color: #f3f2f2;
    border-radius: 20px;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdcdc;
}

.kpi_critico h1,
.kpi_atencao h1 {
    font-size: 35px;
}

.kpi_critico p,
.kpi_atencao p {
    font-size: 15px;
    margin-top: 10px;
}

.servidores_alertas {
    background-color: #f4f3f3;
    border-radius: 20px;
    padding: 25px;
    width: 840px;
    border: 1px solid #dcdcdc;
    margin-top: 20px;
    margin-left: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.titulo_ser h2 {
    font-weight: 600;
}

.titulo_ser {
    margin-bottom: 15px;
    border-bottom: 4px solid #f7b116;
}

.servidor_card {
    background-color: #e9e9e9;
    border-radius: 40px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    border: 1px solid #dcdcdc;
}

.info_servidor {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.info_servidor .nome {
    font-size: 16px;
    margin: 0;
}

.servidor_card .status {
    margin-left: auto;
    font-size: 18px;
}

.servidor_card img {
    width: 55px;
}
