@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main_content{
    display: flex;
    align-items: center;
}


.icone {
  display: flex;
  width: 150px;
  height: 150px;
  margin-top: 3%;
}

.servidor_nome{
    display: flex;
    margin-left: 200px;
    width: 100%;
    height: 100%;
    font: 400 34px 'Poppins', sans-serif;
    font-weight: bold;
}

.container_select {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  font-size: 22px;
  color: #222;
  font-family: sans-serif;
  margin-right: 20px;
  font-weight: bold;
}

.select_personalizar {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #222;
  border-radius: 32px;
  padding: 25px 35px 25px 20px;
  background: #fff;
  height: 38px;
}

.select_personalizar select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  padding: 8px 32px 8px 12px;
  border-radius: 32px;
  font-family: sans-serif;
  color: #222;
  height: 38px;
  cursor: pointer;
  width: 110px; 
}

.select_cursor {
  position: absolute;
  right: 16px;
  width: 0; 
  height: 0; 
  pointer-events: none;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #222;
}

.canvas{
    margin-top: 150px;
    width: 60%;
    height: 20%;
}

.dashboard_informacao{
    width: 600px;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 100px;
    display: flex;
    font-size: 20px;
}

.Texto{
    font-size: 30px;
    font-weight: bold;
}

.Texto2{
    font-size: 25px;
    font-weight: bold;
}

.Texto3{
    font-size: 17px;
    font-weight: bold;
    margin-left: 15px;
}

.container_Nucleo{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.container_threads{
    display: flex;
    flex-direction: row;
    gap:190px;
}

.limite{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    width: 250px;
    border-radius: 50px;
    border-color: rgb(242, 183, 48);
    border-style: solid;
    padding: 15px;
}

.contaner_limite{
    display: flex;
    flex-direction: column;
}