
.divHeaderADM{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.div_titulo h1 {
  font: 400 34px 'Poppins', sans-serif;
}

.adicionarUsuario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adicionarUsuario a {
  padding: 15px 30px;
  background-color: #ffee00;
  color: #F4F5F7;
  border-radius: 20px;
}

.table-container {
  width: 100%;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: auto;
}

table {
  min-width: 800px;
  border-collapse: collapse;
  margin: 0 auto; 
}

th, td {
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
}

thead {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
  border: 2px solid #ffee00;
}

td {
  border-bottom: 1px solid #ffee00;
}

.colunaDelete {
  text-align: center;
}