.mensagem {
    text-align: center;
    backdrop-filter: blur(5px);
    color: #FFE760;
}
.conteiner {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
h1 {
    font-weight: 900;
}