p{
    margin-bottom: 0 !important;
}

.banner {
    background: url(../assets/imgs/banner.png) no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    min-height: 90vh;
    position: relative;
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.banner-content {
    position: relative;
}

.cards {
    padding: 10rem 0 10rem 0;
}

.card {
    margin: 10vh 3rem 10vh 3rem;

    min-height: 30rem;
    padding: 1rem;
}

.func {
    justify-content: space-around;
    height: min-content;
    gap: 2.75rem;
}

.cards_func {
    height: auto;
    width: 45%;
    gap: 2rem;
}

.icon_card {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.icon_card_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.border-footer {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #dee2e6;
    
}

.footer ul li {
    list-style: none;
}

.footer ul li img {
    width: 250px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.links-footer{
    text-align: center;
    align-items: center;
}

@media (max-width: 768px) {
    .links-footer {
        flex-direction: column !important;
        padding-left: 0;
        gap: 1rem;
    }

    .icon_card {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    }
    .cards_func{
        flex-direction: column;
        gap: 1rem;
        height: 350px;
        justify-content: space-around;
        width: 100%;
    }

    .texto_card {
        text-align: center;
    }
}
