*{
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #F2F2F2;
    padding: 10vh 4vw 0px 9vw;
}
h1{
    font-weight: 700;
    font-size: 32px;
}
h2{
    font-weight: 700;
    font-size: 25px;
}
.mini{
    font-size: 14px;
    opacity: 50%;
}
.previsao_por_setor{
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.setores{
    display: flex;
    /* gap: 25px; */
    margin-top: 30px;
    justify-content: space-between;
}

h3{
    font-size: 16px;
    font-weight: bold;
}
.setor{
    width: 18vw;
}
.setores .bar{
    width: 1px;
    opacity: 20%;
    background-color: black;
    border-radius: 10px;
}
.setor h3 > .material-symbols-outlined{
    font-size: 48px;
}
.setor h3{
    display: flex;
    align-items: center;
    gap: 10px;
}

.variacao_mes_atual, .indice_vendas_reais{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.previsao_por_setor h2{
    display: flex;
    justify-content: space-between;
}
.variacao_mes_atual h4, .indice_vendas_reais h4{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.variacao_mes_atual h4{
    margin-left: -10px;
}

.variacao_mes_atual h4.red{
    color: #EC3636;
}
.variacao_mes_atual h4.green{
    color: #11AD24;
}

.setor .metricas{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

h1 .destaque{
    color: #FFB100;
    text-decoration: underline;
}

.fatores{
    margin-top: 50px;
}



.carrossel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

.carrossel {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease;
}

.carrossel .card_ca {
    flex: 0 0 27vw;
    background-color: #fff;
    padding: 32px;
    margin-right: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.carrossel .card_ca .top .image_text{
    display: flex;
    align-items: center;
    gap: 30px;
}
.carrossel .card_ca .top .image_text img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.carrossel .card_ca .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carrossel .card_ca .ia_explicacao{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.carrossel .card_ca .ia_explicacao img{
    width: 40px;
    height: 40px;
}

.carrossel .card_ca .ia_explicacao .explicacao{
    font-size: 16px;
}

.top h3{
    font-size: 32px;
}
.top h4{
    font-size: 20px;
    font-weight: bold;
}
.carrossel-container button{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}

.carrossel-container .btn-next{
    right: 0;
}

.carrossel-container{
    padding: 10px;
}

h1.center_title{
    text-align: center;
    margin-top: 40px;
}
.prev_sim_container > div{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 32px 46px;
}

.prev_sim_container{
    display: flex;
    gap: 32px;
    align-items: flex-start;
}
.prev{
    flex: 2;
}
.sim{
    flex: 1;
}

.pred_hist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.month_selector select{
    width: 230px;
}

.pred_hist .title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.bar_divisor{
    font-size: 50px;
    opacity: 30%;
    font-weight: 500;
}

.prev h3{
    margin-left: 30px;
}

.prev_sim_title_container > h2{
    margin: 30px 0 15px 50px;
}

.sim > h2{
    margin-top: 25px;
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 12px center;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #FAFAFA;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='32' width='32' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    outline: none;
    width: 40%;
    cursor: pointer;
}
.sim .selects{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.sim button{
    background-color: #FFB100;
    padding: 12px 24px;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 20px;
    border-radius: 5px;
}

.button_container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}