@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100dvh;
}

/* NAV-BAR */
 
.navbar {
    width: 100%;
    min-height: 80px;
    background-color: #FFE760;
    padding: 0px;
    display: flex;
    align-items: center;
}


.navbar-brand a:hover {
    background-color: hsl(51, 100%, 39%);
    width: 4.5dvw;
    height: 4.5dvh;
}

.navbar-brand img {
    width: 200px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}
.exit {
    font-size: 5000px;
}

#menu {
    display: none;
}

.menu_full {
    display: flex !important;
}

#links {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 500;
    background-color: #FFEC82;
    height: 5rem;
    width: 5rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 10px 10px 10px;
}

#links a {
    color: black;
    text-decoration: none;
}