.users {
    display: flex;
    flex-direction: row; 
    gap: 20px;
    flex-wrap: wrap;    
    width: 100%;        
}

.users_container {
    flex: 1 1 45%;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;      
    justify-content: center; 
    text-align: center;
   box-sizing: border-box;

    width: 40vw;
    padding: 10px;
    border: 5px solid black;
    border-radius: 100px;
    overflow: auto;
}

   .user_icon {
    flex-shrink: 0;          
    display: flex;
    justify-content: flex-start;  /* joga a foto totalmente à esquerda */
    align-items: center;
    margin-right: 10px;          /* espaço entre a foto e o conteúdo */
}


.user_icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid black;
}



.all_users {
    overflow-y: scroll;
    scrollbar-color: #00863F #eeeeee;
}

.all_users .users {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.all_users .user {
    background-color: #F4F4F4;
    border: #00863F 3px solid;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 16px;
    border-radius: 100px;
}

.all_users .user .photo_info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.all_users .user .photo_info .user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all_users .user .photo {
    width: 50px;
    height: 50px;
    border: #00863F 3px solid;
    border-radius: 100px;
}

.all_users .user .photo img {
    width: 100%;
    border-radius: 100px;
}

.user .user_info p {
    font-weight: 600;
    font-size: 14px;
}

.user .user_info span {
    font-size: 10px;
    font-weight: 600;
    color: #00000080;
}

.all_users .user .user_email {
    font-weight: 600;
    margin-right: 5%;
}

.register_new {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 7vw;
    bottom: 5vh;
    cursor: pointer;
    background-color: black;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.25s;
}

.out_edit {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}

.out_edit.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal_edit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}

.modal_edit.show {
  opacity: 1;
  pointer-events: auto;
}



.user_controls .edit_user_button {
    background-color: #00A335;
    border-radius: 100px;
    width: 80px;
}



.user_controls .edit_user_button:hover {
    background-color: #00832c;
        border-radius: 100px;
    width: 80px;
}

.user_controls .delete_user_button {
    background-color: #E30B0B;
    border-radius: 100px;
    width: 80px;
}

.user_controls .delete_user_button:hover {
    background-color: #b30909;
}


.edit_modal .edit_content div {
    display: flex;
}

.modal_edit h3 {
    margin-bottom: 20px;
}

.edit_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.create_server_content input {
  border: yellow 2px solid;
  background-color: #f4f4f4;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 8px;  
  outline: none;
  width: 100%;
  box-sizing: border-box;
  height: 45px;         
  line-height: 1.5;       
}

.create_server_content .edit_field {
  margin-bottom: 20px;
}

.edit_server_modal input {
  border: yellow 2px solid;   
  background-color: #fff;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 8px;      
  outline: none;
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  line-height: 1.5;
}


.edit_server_modal .edit_field {
  margin-bottom: 15px;
}



.edit_field {
    display: flex;
    flex-direction: column;
    gap: 10px;
     line-height: 1.5;   
}

.edit_password_field {
    position: relative;
}


.edit_password_field span,
.delete_account_field span {
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
}
.edit_content > div label {
    margin-left: 20px;
}

.edit_content > div input {
    border: yellow 2px solid;
    background-color: #f4f4f4;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 100px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}



.edit_headers {
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.edit_headers span {
    cursor: pointer;
}


.edit_buttons {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.edit_buttons button {
    padding: 20px 30px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    transition: .25s;
}

.confirm_button_delete,
.confirm_button_delete_user {
    color: #fff;
    border: none;
    background-color: #E30B0B;
    border-radius: 100px;
    width: 150px;
}

.confirm_button_delete:hover,
.confirm_button_delete_user:hover {
    background-color: #9f0b0b;
}

.confirm_button {
    color: black;
    border: none;
    background-color: yellow;
    border-radius: 100px;
}

.confirm_button:hover {
    background-color: #FFD700; 
}

.cancel_button {
    color: #000;
    border: none;
    background-color: #cbcbcb;
    border-radius: 100px;
}

.cancel_button:hover {
    background-color: #a7a7a7;
}


@media (max-width: 768px) {
    .users_container {
        width: 60vw; 
        flex-direction: column; 
        padding: 15px;
    }

    .all_users {
        max-height: 50vh; 
    }

    .all_users .user {
        flex-direction: column; 
        align-items: center;
        gap: 10px;
    }

    .all_users .user .photo_info {
        flex-direction: column;
        gap: 10px;
    }

    .register_new {
        right: 5vw;
        bottom: 3vh;
        padding: 10px 20px;
    }
}
