.users_container {
    background-color: #F4F4F4;
    display: flex;
    margin-top: 20vh;
    width: 40vw;
    gap: 5px;
    border: 5px solid black;
    padding: 30px;
    justify-content: space-between;
    margin:auto;
    border-radius: 100px;
}

.all_users .users {
    overflow-y: scroll;
    scrollbar-color: #00863F #eeeeee;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.all_users .user {
    background-color: #F4F4F4;
    border: #00863F 3px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 100px;
}

.all_users .user .photo_info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.all_users .user .photo_info .user_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.all_users .user .photo {
    width: 50px;
    height: 50px;
    border: #00863F 3px solid;
    border-radius: 100px
}

.all_users .user .photo img {
    width: 100%;
    border-radius: 100px
}

.user .user_info p {
    font-weight: 600;
    font-size: 14px;
}

.user .user_info span {
    font-size: 10px;
    font-weight: 600;
    color: #00000080;
}

.all_users .user .user_email {
    font-weight: 600;
    margin-right: 5%;
}

.register_new {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 7vw;
    bottom: 5vh;
    cursor: pointer;
    background-color:#00000080;
    color: black;
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.25s;
}